<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBAy4LaDVLa1e733NPfVtfZyd_Fd756BEdAYzvoNLYqD7b5DWX6Q" alt="">
<p class="lead"><a href="/logout">Log out</a></p>